/*File: mystyle.css
Created on: August 3, 2021
GUI Assignment: HW4: Validation plugin
Description: File contains simple CSS rules to style out index.html file. Deleted all previous rules that styled error messages in HW3
    Instead I select .error to highlight in red the errors shown by the JQuery validation plugin.

DISCLAIMER: Most of this code was obtained by reading w3schools.com tutorials.

Rodrigo Choque Cardenas, UMass Lowell Computer Science, rodrigo_choquecardenas@student.uml.edu
Updated by RCC on August 1, 2021 at 1: 01AM
*/

/*Next few sefgments are standard css design*/
body {
    /*I used the same background I used on my previous homework. I liked it that much :p*/
    background-color: #00569f;
    background-image: linear-gradient(to bottom, #ffffff, transparent);
    background-size: 100% 400px;
    background-repeat: no-repeat;
    margin: 30px auto;
    width: 800px;
}

#wrapper {
    width: 100%;
    margin: 30px auto;
}


div {
    padding: 5px;
}

input{
    width: 25%;
    padding: 5px;
}


label{
    width: 25%;
}

/*if table overflows, it will add a scroll bar*/
#table {
    height: 350px;
    width: 100%;
    padding: 10px;
}

/*changes the style of the first row of the table*/
#headRow{
    background-color: black;
    color: white;
}

/*changes style of the first column of the table*/
tr td:nth-child(1) {
    background-color: black;
    color: white;
}


/*instructions label design*/
#instr{
    background-color:navy;
    color: white;
    border: 2px solid black;
    width: 100%;
    margin: 0px auto;
}

/*style to display sliders next to its respective input field*/
#xlowerSlider, #xupperSlider, #ylowerSlider, #yupperSlider {
    display: inline-block;
    width: 50%;
}

.note{
    color: yellow;
    font-weight: bold;
}

#myTabs{
    overflow-x: scroll;
    overflow-y: scroll;
}

/*Highlights errors shown by the JQuery validation plugin*/
.error {
    color: red;
}