/*
File: mystyle.css
Created on: July 28, 2021
GUI Assignment: HW3: Creating a dynamic interacting table
Description: This is in charge of styling the content of a given HTML file.
    I used elements I created inside javascript, which was interesting....

DISCLAIMER: Most of this code was obtained by reading w3schools.com tutorials, unless noted

Rodrigo Choque Cardenas, UMass Lowell Computer Science, rodrigo_choquecardenas@student.uml.edu
Updated by RCC on August 1, 2021 at 12:53AM
*/

/*Next few sefgments are standard css design*/
body {
    /*I used the same background I used on my previous homework. I liked it that much :p*/
    background-color: #00569f;
    background-image: linear-gradient(to bottom, #ffffff, transparent);
    background-size: 100% 400px;
    background-repeat: no-repeat;
    margin: 30px auto;
    width: 700px;
}

#wrapper {
    width: 100%;
    margin: 30px auto;
}
div{
    padding: 5px;
}

input{
    width: 70%;
    padding: 5px;
}

/*if input is invalid, the input box will be highlighted pink*/
input:invalid{
    background-color: pink;
}

label{
    width: 30%;
}

/*if table overflows, it will add a scroll bar*/
#table {
    height: 350px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
    padding: 10px;
}

/*changes the style of the first row of the table*/
#headRow{
    background-color: black;
    color: white;
}

/*changes style of the first column of the table*/
#table tr td:nth-child(1) {
    background-color: black;
    color: white;
}



/*customs the error messages labes so they are noticeable*/
#errorMsg {
    color: darkred;
    border: 2px solid red;
    padding: 5px;
}

/*instructions label design*/
#instr{
    background-color:navy;
    color: white;
    border: 2px solid black;
    width: 100%;
    margin: 0px auto;
}
.warning{
    color: yellow;
}